# Machine-specific secrets not to be checked into git
.env*

# Nix stuffs
.direnv/
result*

# Idea project files
*.iml
.idea/

# Gradle files
out/
build/
.gradle/

# Generated sources
src/generated

# OS specific
.DS_Store

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.yarn/
/.pnp
.pnp.js

# testing
/coverage

# production
build/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
*.iml

.vscode/
