.gridContainer {
  display: grid;
  grid-template-columns: 350px 200px 200px;
  grid-template-rows: auto;
  grid-template-areas: "fromTime service rolle" "toTime action status";
  column-gap: 30px;
  row-gap: 10px;
  margin: 20px 0;
}

.gridContainerIds {
  grid-template-areas: "mottakId cpaId messageId" !important;
}

.inputId {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--navds-select-color-background);
  border-radius: var(--navds-border-radius-medium);
  border: 1px solid var(--navds-select-color-border);
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}