:root[data-theme="dark"] {
  --root-bg:          #111;
  --table-bg:         #1e1e1e;
  --text-primary:     var(--navds-semantic-color-text-inverted);
  --hover-bg:         var(--navds-global-color-gray-800);
  --active-bg:        var(--navds-global-color-gray-900);
  --input-bg:         var(--navds-global-color-gray-900);
}

[data-theme="dark"][data-scheme="dev"] {
  --header-bg:        var(--navds-global-color-orange-800);
  --table-header-bg:  var(--navds-global-color-orange-900);
  --table-header-fg:  var(--navds-global-color-orange-200);
  --table-row-bg:     var(--navds-global-color-orange-700);
  --theme-button-bg:  var(--navds-global-color-orange-900);
}

[data-theme="dark"][data-scheme="prod"] {
  --header-bg:        var(--navds-global-color-blue-800);
  --table-header-bg:  var(--navds-global-color-blue-900);
  --table-header-fg:  var(--navds-global-color-blue-300);
  --table-row-bg:     var(--navds-global-color-blue-700);
  --theme-button-bg:  var(--navds-global-color-blue-900);
}
