html {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body {
    width: 99%;
    min-width: 1000px;
}

form {
    clear: both;
}

th {
    font-size: 10px;
    font-weight: bold;
    background-color: #369;
    text-align: left;
}

b {
    font-weight: bold;
}

legend {
    padding: 0 5px;
}

/* default attributes for links */
a:link, a:visited, a:active {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

input:not([type="checkbox"]), button, textarea, select {
    background-color: #dee3fa;
    border: 1px solid #000;
}
input:not([type="checkbox"]), button, textarea {
    padding: 2px;
    font-size: 10px;
}

input.checkbox,
input[type="checkbox"] {
    margin:0 auto;
    padding: 0;
}

input[type="file"],
input[type="submit"],
input[type="button"],
button[type="submit"],
button[type="button"],
input[type="image"] {
    cursor: pointer;
    vertical-align: middle;
}

.buttons button {
    height: 17px;
}

input[type="file"]:hover:not(.disabled),
input[type="submit"]:hover:not(.disabled),
input[type="button"]:hover:not(.disabled),
button[type="submit"]:hover:not(.disabled),
button[type="button"]:hover:not(.disabled) {
    background-color: #bdd2ff;
}

.DTTT_disabled,
input.disabled,
button.disabled {
    cursor: default;
}

.DTTT_disabled,
div.disabled {
    color: #ccc;
}

.opera input[type="file"],
.opera input[type="submit"],
.opera input[type="button"],
.opera button[type="submit"],
.opera button[type="button"],
.opera input[type="image"] {
    height: 17px;
}

button.DTTT_button,
input[type="button"],
input[type="submit"],
button[type="button"],
button[type="submit"] {
    background-repeat: no-repeat;
    background-position: 3% 50%;
}

.context-menu-item.icon-run,
input[type="button"].run,
input[type="submit"].run,
button[type="button"].run,
button[type="submit"].run {
    background-image: url('../images/running.gif');
}
.context-menu-item.icon-stop,
input[type="button"].stop,
input[type="submit"].stop,
button[type="button"].stop,
button[type="submit"].stop {
    background-image: url('../images/stop.gif');
}
.context-menu-item.icon-lima,
input[type="button"].lima,
input[type="submit"].lima,
button[type="button"].lima,
button[type="submit"].lima {
    background-image: url('../images/lima.gif');
}
.context-menu-item.icon-quebec,
input[type="button"].quebec,
input[type="submit"].quebec,
button[type="button"].quebec,
button[type="submit"].quebec {
    background-image: url('../images/quebec.gif');
}
.context-menu-item.icon-exec,
input[type="button"].exec,
input[type="submit"].exec,
button[type="button"].exec,
button[type="submit"].exec {
    background-image: url('../images/cog.gif');
}
.context-menu-item.icon-save,
input[type="button"].save,
input[type="submit"].save,
button[type="button"].save,
button[type="submit"].save {
    background-image: url('../images/save.gif');
}
.context-menu-item.icon-cancel,
input[type="button"].cancel,
input[type="submit"].cancel,
button[type="button"].cancel,
button[type="submit"].cancel {
    background-image: url('../images/error.gif');
}
.context-menu-item.icon-delete,
input[type="button"].delete,
input[type="submit"].delete,
button[type="button"].delete,
button[type="submit"].delete {
    background-image: url('../images/trashcan.gif');
}
.context-menu-item.icon-copy,
button.DTTT_button_copy,
input[type="button"].copy,
input[type="submit"].copy,
button[type="button"].copy,
button[type="submit"].copy {
    background-image: url('../images/copy.gif');
}
.context-menu-item.icon-move,
input[type="button"].move,
input[type="submit"].move,
button[type="button"].move,
button[type="submit"].move {
    background-image: url('../images/move.gif');
}
.context-menu-item.icon-search,
input[type="button"].search,
input[type="submit"].search,
button[type="button"].search,
button[type="submit"].search {
    background-image: url('../images/search.gif');
}
.context-menu-item.icon-reset,
input[type="button"].reset,
input[type="submit"].reset,
button[type="button"].reset,
button[type="submit"].reset {
    background-image: url('../images/erase.gif');
}
.context-menu-item.icon-refresh,
input[type="button"].refresh,
input[type="submit"].refresh,
button[type="button"].refresh,
button[type="submit"].refresh {
    background-image: url('../images/refresh.gif');
}
.context-menu-item.icon-verify,
input[type="button"].verify,
input[type="submit"].verify,
button[type="button"].verify,
button[type="submit"].verify {
    background-image: url('../images/ok.gif');
}
.context-menu-item.icon-encrypt,
input[type="button"].encrypt,
input[type="submit"].encrypt,
button[type="button"].encrypt,
button[type="submit"].encrypt {
    background-image: url('../images/lock.gif');
}
.context-menu-item.icon-decrypt,
input[type="button"].decrypt,
input[type="submit"].decrypt,
button[type="button"].decrypt,
button[type="submit"].decrypt {
    background-image: url('../images/lock_open.gif');
}
.context-menu-item.icon-zip,
input[type="button"].zip,
input[type="submit"].zip,
button[type="button"].zip,
button[type="submit"].zip {
    background-image: url('../images/zip.gif');
}
.context-menu-item.icon-edit,
input[type="button"].edit,
input[type="submit"].edit,
button[type="button"].edit,
button[type="submit"].edit {
    background-image: url('../images/edit.png');
}
.context-menu-item.icon-excel,
button.DTTT_button_xls,
input[type="button"].excel,
input[type="submit"].excel,
button[type="button"].excel,
button[type="submit"].excel {
    background-image: url('../images/excel.gif');
}
.context-menu-item.icon-certificate,
input[type="button"].certificate,
input[type="submit"].certificate,
button[type="button"].certificate,
button[type="submit"].certificate {
    background-image: url('../images/certificate.gif');
}
.context-menu-item.icon-keypair,
input[type="button"].keypair,
input.button.keypair,
input[type="submit"].keypair,
input.submit.keypair,
button[type="button"].keypair,
button.button.keypair,
button[type="submit"].keypair,
button.submit.keypair {
    background-image: url('../images/keys.gif');
}
.context-menu-item.icon-expand,
input[type="button"].expand,
input[type="submit"].expand,
button[type="button"].expand,
button[type="submit"].expand {
    background-image: url('../images/expand.gif');
}
.context-menu-item.icon-collapse,
input[type="button"].collapse,
input[type="submit"].collapse,
button[type="button"].collapse,
button[type="submit"].collapse {
    background-image: url('../images/collapse.gif');
}


input[type="image"] {
    border: 0;
    text-align: center;
    background: transparent;
}

div.section-header {
    padding: 5px 0 0 0;
}
div.section-header span {
    font-size: 10px;
    font-weight: bold;
    color: #13a;
    background-color: #bdd2ff;
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px 0;
    display: block;
    text-indent: 1px;
}

caption {
    font-size: 10px;
    font-weight: bold;
    color: #13a;
    background-color: #bdd2ff;
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px 0;
    text-indent: 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table.sortable thead tr th,
table.sortable tfoot tr th {
    font-size: 10px;
    font-weight: bold;
    color: #13a;
    background-color: #bdd2ff;
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: 10px;
}

table.sortable thead tr th.right,
table.sortable thead tr th.center,
table.sortable tfoot tr th.right,
table.sortable tfoot tr th.center {
    background-position: 100% center;
    padding-right:10px;
    text-indent: 0;
}

table.sortable thead tr th.center.status,
table.sortable tfoot tr th.center.status {
    background-position: 50% center;
}

table.sortable thead tr th.sorting,
table.sortable thead tr th.sorting_asc,
table.sortable thead tr th.sorting_desc,
table.sortable tfoot tr th.sorting,
table.sortable tfoot tr th.sorting_asc,
table.sortable tfoot tr th.sorting_desc {
    cursor: pointer;
}

table.sortable thead tr th.unsortable,
table.sortable foot tr th.unsortable {
    padding-right:0;
    text-indent: 0;
}

td {
    font-size: 10px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin:0;
    padding-top: 0;
    padding-bottom: 0;
}

td span {
    position: relative;
    top: 0;
}

td a:link, td a:visited, td a:active, td a:hover {
    font-weight: normal;
    margin-left: 2px;
}

td img,
td a img {
    border: none;
    vertical-align: middle;
}

table.sortable tbody tr td table.sortable {
    margin-top: -5px;
}

.error,
#errors {
    color: red;
}

#errors ul {
    list-style-type: none;
    border-left: 4px solid red;

}

#errors li {
    margin-left: -30px;
}

#errors ul.spacing li {
    margin-bottom: 4px;
}

table.error,
input.error,
select.error,
textarea.error {
    border-color: red;
    background-color: #ffa;
}

.field-output.warning,
div.warning span,
.disabled.warning,
.warning {
    color: blue;
    background-color:#ffa;
}

input.normal {
    width: 90px;
    padding: 2px;
    font-size: 9px;
    background-color: #dee3fa;
    border: 1px solid #000;
    cursor: pointer;
}

select {
    font-size:10px;
}



#header, #menu, #content, #footer {
    float: left;
    width: 100%;
}

/* place the userinfo at bottom of the header */

#header {
    background: transparent url('../images/navlogo_small.gif') no-repeat 10px top;
    width: 100%;
    height: 33px;
}

#em-title {
    clear: both;
    margin-left: 75px;
    margin-top: 9px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #c30000;
}

#userinfo {
    clear: both;
    margin-top:-3px;
    padding-right: 5px;
    text-align: right;
}



.rightjustify {
    float:right;
}

#menu {
    background-color: #bdd2ff;
    font-size: 10px;
}

li.active-menu a {
    background-color: #aabde6;
}

#content, #footer {
    margin: 0.5em 0.2em;
}

fieldset {
    margin-bottom: 0.5em;
}

#footer {
    font-size:9px;
}

.left {
    text-align: left;
}

.floatleft {
    float: left;
}

.center {
    text-align: center;
}

td.center input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right;
}

.expandable,
.clickable {
    cursor: pointer;
}

.form-field-horizontal {
    padding: 0;
    margin: 0;
    margin-bottom: 1px;
}

.form-field-horizontal button,
.form-field-horizontal button.DTTT_button,
.form-field-horizontal input[type=button],
.form-field-horizontal input[type=submit],
.form-field-horizontal button[type=button],
.form-field-horizontal button[type=submit] {
    padding: 0;
    margin: 0 4px 0 0;
    margin-top: 1px;
    width: 10em;
}

.horizontal-field-holder {
    clear:left;
    padding: 0;
    margin: 0;
    height: 20px;
}

div.input-field {
    float: left;
}

.horizontal-field-holder.output {
    height: 12px;
}


.form-field-horizontal label,
.form-field-horizontal div.label {
    float: left;
    width: 4.5em;
    padding: 0;
    margin: 0;
}

.form-field-horizontal label.long,
.form-field-horizontal div.label.long {
    width: 8em;
}

.form-field-horizontal ul.field-input {
    float: left;
    padding: 0;
    margin: 0;
}
.form-field-horizontal li.field-input {
    list-style-type: none;
    list-style: none;
}

.form-field-horizontal label.error {
    float: none;
}

.form-field-horizontal input,
.form-field-horizontal button,
.form-field-horizontal select,
.form-field-horizontal textarea,
.form-field-horizontal div.field-input,
.form-field-horizontal div.field-output {
    float: left;
    margin-right: 2em;
    width: 12em;
}

.form-field-horizontal div.field-input-block {
    float: left;
    display: block;
}

.form-field-horizontal input.short,
.form-field-horizontal button.short,
.form-field-horizontal select.short,
.form-field-horizontal div.field-input.short,
.form-field-horizontal div.field-output.short {
    width: 2em;
}

.form-field-horizontal input.medium10,
.form-field-horizontal button.medium10,
.form-field-horizontal select.medium10,
.form-field-horizontal textarea.medium10,
.form-field-horizontal div.field-input.medium10,
.form-field-horizontal div.field-output.medium10 {
    width: 10em;
}

.form-field-horizontal input.medium,
.form-field-horizontal button.medium,
.form-field-horizontal select.medium,
.form-field-horizontal textarea.medium,
.form-field-horizontal div.field-input.medium,
.form-field-horizontal div.field-output.medium {
    width: 15em;
}

div.dataTables_wrapper div div label input[type="text"],
.form-field-horizontal input.long,
.form-field-horizontal button.long,
.form-field-horizontal select.long,
.form-field-horizontal textarea.long,
.form-field-horizontal div.field-input.long,
.form-field-horizontal div.field-output.long {
    width: 20em;
}

.form-field-horizontal input.mediumlong,
.form-field-horizontal button.mediumlong,
.form-field-horizontal select.mediumlong,
.form-field-horizontal textarea.mediumlong,
.form-field-horizontal div.field-input.mediumlong,
.form-field-horizontal div.field-output.mediumlong {
    width: 30em;
}

.form-field-horizontal input.verylong,
.form-field-horizontal button.verylong,
.form-field-horizontal select.verylong,
.form-field-horizontal textarea.verylong,
.form-field-horizontal div.field-input.verylong,
.form-field-horizontal div.field-output.verylong {
    width: 40em;
}

.form-field-horizontal input.superlong,
.form-field-horizontal button.superlong,
.form-field-horizontal select.superlong,
.form-field-horizontal textarea.superlong,
.form-field-horizontal div.field-input.superlong,
.form-field-horizontal div.field-output.superlong {
    width: 82em;
}

.horizontal-field-holder.stick-to-prev {
    margin-top: -1em;
}

span.field-output,
div.field-output {
    color: #666;
    font-size: 85%;
    margin-top: 2px;
}

div.field-input {
    margin-top: 2px;
}

div.field-output span img {
    vertical-align: middle;
    margin-top: -2px;
}

.buttons {
    float: right;
}
table.fullsize {
    width: 100%;
}

div span.status {
    width: 18px;
    display: inline-block;
}

span.FATAL,
div.FATAL,
span.sl40,
div.sl40 {
    background: transparent url('../images/bomb.gif') no-repeat center center;
}

div.FAILED,
span.ERROR,
div.ERROR,
div.FEIL,
span.sl30,
div.sl30,
div.deprecated {
    background: transparent url('../images/error.gif') no-repeat center center;
}

div.AVVIST,
div.STARTET,
span.WARNING,
div.WARNING,
div.WARN,
span.sl20,
div.sl20 {
    background: transparent url('../images/warn.gif') no-repeat center center;
}

div.EXECUTING {
    background: transparent url('../images/running_disabled.gif') no-repeat center center;
}

div.STOPPED {
    background: transparent url('../images/stop_disabled.gif') no-repeat center center;
}

span.INFO,
div.INFO,
div.MOTTATT,
span.sl10,
div.sl10 {
    background: transparent url('../images/info.gif') no-repeat center center;
}

div.NOOP,
span.READY,
div.READY,
span.sl0,
div.sl0 {
    background: transparent url('../images/dash.gif') no-repeat center center;
}

span.MANUAL,
div.MANUAL,
span.sl15,
div.sl15 {
    background: transparent url('../images/wrench.png') no-repeat center center;
}

div.COMPLETED,
div.OK,
div.BEHANDLET,
div.FERDIG,
span.COMPLETE,
div.COMPLETE,
span.sl50,
div.sl50 {
    background: transparent url('../images/ok.gif') no-repeat center center;
}

span.DEBUG,
div.DEBUG {
    background: transparent url('../images/bug.gif') no-repeat center center;
}

td.unsortable div.status  {
    background-position: 2px center;
}

span.UNKNOWN,
div.UNKNOWN,
span.sl-1,
div.sl-1 {
    background: transparent url('../images/unknown.gif') no-repeat center center;
}

span.private,
div.private {
    background: transparent url('../images/keys.gif') no-repeat center center;
}

span.public,
div.public {
    background: transparent url('../images/certificate.gif') no-repeat center center;
}

li.FATAL,
li.sl40 {
    background: transparent url('../images/bomb.gif') no-repeat 13px center;
}

li.ERROR,
li.sl30 {
    background: transparent url('../images/error.gif') no-repeat 13px center;
}

li.WARNING,
li.sl20 {
    background: transparent url('../images/warn.gif') no-repeat 13px center;
}

li.INFO,
li.sl10 {
    background: transparent url('../images/info.gif') no-repeat 13px center;
}

li.COMPLETE,
li.sl50 {
    background: transparent url('../images/ok.gif') no-repeat 13px center;
}

li.READY,
li.sl0 {
    background: transparent url('../images/dash.gif') no-repeat 13px center;
}

li.UNKNOWN,
li.sl-1 {
    background: transparent url('../images/unknown.gif') no-repeat 13px center;
}

div.expanded-content {
    padding-left:10px;
    color: blue;
}

.form-field-horizontal img.ui-datepicker-trigger {
    float: left;
    position:relative;
    top:2px;
}

.form-field-horizontal input.time-input {
    width: 4.5em;
    margin-left: 2px;
}

.form-field-horizontal input.date-input {
    width: 5.8em;
    margin-right: 2px;
}

td ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

td ul.expanded-content li  {
    padding-left: 25px;
}

td ul.expanded-content a  {
    position: relative;
    padding-right: 5px;
}

td img.expandable {
    margin-right: 1px;
}
/*
div div ul {
	list-style: none;
	display:table-row;
}
*/
td.status.unsortable {
    width: 14px;
}

th input[type='checkbox'],
th input[type='checkbox'] {
    vertical-align: top;
}

.gecko th input[type='checkbox'],
.gecko td input[type='checkbox'] {
    margin:0 auto;
    padding: 0;
    background-color: transparent;
    border-width: 0;
}

th img {
    vertical-align: -1px;
}

.form-field-horizontal input[type="checkbox"] {
    margin-top:3px
}

a[rel='external'] {
    white-space: nowrap;
    padding-right: 8px;
    background: url('../images/extlink.gif') no-repeat 100% 50%;
}


a[rel='mailto'] {
    white-space: nowrap;
    padding-right: 12px;
    background: url('../images/mailto.gif') no-repeat 100% 50%;
}

.popup {
    display: none;
}

.notify {
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    margin-left: -300px;
}

table:not(.ui-datepicker-calendar) tr:hover,
.highlight,
tr.highlight td {
    background-color: #ff9;
}

.graph {
    width: 99.7%;
    height: 250px;
    margin: 20px 0 0 5px;
}

.ref, .id {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.ref.error {
    color: red;
    text-decoration: none;
}

div.accordion {
    float: left;
    clear: left;
    width: 100%;
}

div.accordion div.head {
    font-size: 10px;
    font-weight: bold;
    color: #13a;
    background-color: #bdd2ff;
    margin: 2px;
    padding: 1px 0;
    text-indent: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 3px center;
    background-image: url('../images/expand.gif');
}

div.accordion div.head.open {
    background-image: url('../images/collapse.gif');
    margin-bottom: -2px;
}

div.accordion div.head.indent {
    text-indent: 40px;
}

.searchmatch,
tr.searchmatch td {
    color: green;
    font-weight: bold;
}

div.filler {
    height: 1em;
}

div.output pre.logoutput  {
    font-size: 90%;
    height: 30em;
    width: 100%;
    overflow: scroll;
    margin: 0 -0.3em -1em 0;
}
div.output #spinner,
div.output #textpos {
    margin: 1.1em 0 -1em;
}

div.output #textpos  {
    margin-top: 1.4em;
}

div.output {
    overflow: visible;
}

div.upload-area {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.date {
    white-space: nowrap;
}


/* ajax operation */
#operationinprogress {
    display: none;
    overflow: hidden;
}

#operationinprogress div.ajax-operation-spinner {
    background: transparent url('../images/ajax-loader.gif') no-repeat left top;
    width: 16px;
    height: 16px;
    float: left;
}

#operationinprogress div.ajax-operation-text {
    float: right;
}

.operationinprogress {
    /*
        background: transparent !important;
        border: 0 !important;
    */
    padding: 0px !important;
}

.operationinprogress .ui-dialog-titlebar {
    display:none;
}

iframe {
    width: 100%;
    border-width: 0;
}

fieldset.left {
    float: left;
}

.w2 {
    width: 50%;
}

.w2left {
    width: 48.4%;
    float: left;
    margin-right: 0;
    padding-right: 0;
}

.w2right {
    width: 48.4%;
    float: right;
    margin-left: 0;
}

.cert + label.error {
    display:block;
    text-align: right;
    width: auto;
}

.w1 {
    clear: both;
}

.w3 {
    width: 33.3%
}

.w4 {
    width: 25%;
}

.yAxis .tickLabel {
    left: 0;
}

.draggable {
    background-color: pink;
}

.droppable {
    background-color: palegreen;
}

li[rel="crl"] a:visited {
    color: green;
}

li[rel="expiredcrl"] a:visited {
    color: red;
}
