.table {
  box-shadow: 0px 1px 4px 0px var(--navds-global-color-gray-400);
  width: 100%;
  background-color: var(--table-bg);
}

.tableHeader {
  background-color: var(--table-header-bg);
  cursor: pointer;
}

.coloredRow {
  background-color: var(--table-row-bg);
}

.table th:hover {
  background-color: var(--header-bg) !important;
}

.table tbody tr:hover {
  background-color: var(--hover-bg) !important;
}

.compactTableCell {
  padding: 2px !important;
}
