@import "@navikt/ds-css/dist/index.css";

:root {
  --nav-button-diameter: calc(var(--page-navbar-header-height)/3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  transition: width 1s;
  position: relative;
  z-index: 100;
  background-color: var(--root-bg);
  color: var(--text-primary);
  overflow: hidden;
  box-shadow: 0px 1px 4px 0px var(--navds-global-color-gray-400);
}

.header {
  padding: var(--page-navbar-header-padding);
  height: var(--page-navbar-header-height);
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.open {
  width: var(--page-navbar-width);
}

.closed {
  width: 0;
}

.navLink {
  list-style: none;
  text-decoration: none;
  width: var(--page-navbar-width);
  height: var(--nav-link-height);
  position: relative;
  color: var(--text-primary);

  :hover {
    background-color: var(--table-hover-bg);
  }

  .linkText {
    width: 100%;
    height: 100%;
    line-height: var(--nav-link-line-height);
    vertical-align: middle;
    margin: 0;
    display: flex;
    justify-content: center;
  }
}
.active {
  background-color: var(--active-bg);
}

.button {
  position: absolute;
  top: calc(var(--page-navbar-header-height)/2 - var(--nav-button-diameter)/2);
  height: var(--nav-button-diameter);
  width: var(--nav-button-diameter);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--root-bg);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px var(--navds-global-color-gray-400);
}

.button:hover {
  background-color: var(--active-bg);
}

.closeButton {
  z-index: 200;
  left: calc(var(--page-navbar-width) - var(--nav-button-diameter)/2);
  display: flex;
  transition: left 1s;
}

.closeButtonCollapsed {
  left: calc(-1 * var(--nav-button-diameter));
}

.closeButtonHidden {
  transition: none;
  visibility: hidden;
  opacity: 0;
}

.closeButtonVisible {
  left: calc(var(--page-navbar-width) - var(--nav-button-diameter)/2);
}

.openButton {
  left: var(--page-navbar-open-button-left-margin);
  z-index: 0;
}
