body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--root-bg);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.theme-button {
  font-size: 12px;
  border: 1px solid var(--text-primary);
  background-color: var(--theme-button-bg);
  color: var(--text-primary);
}

input,
select,
option,
.react-time-picker__inputGroup,
.react-time-picker__button,
.DayPicker,
.nav-datovelger__navbar__knapp,
.DayPicker-Weekday {
  color: var(--text-primary) !important;
  background-color: var(--input-bg) !important;
}

.navds-select__chevron {
  color: var(--text-primary) !important;
}

.nav-datovelger__kalenderknapp {
  color: var(--text-primary);
  background-color: var(--input-bg) !important;
  border-color: var(--navds-global-color-gray-600) !important;
}

.nav-datovelger__navbar__knapp svg path {
  fill: var(--text-primary) !important;
}

.react-time-picker__button__icon path,
.react-time-picker__button__icon line,
.react-time-picker__button__icon circle {
  stroke: var(--text-primary) !important;
}
